<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Menu</h3>
                <ul class="nav side-menu">
                  <li><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                  </li>
                  <li><a href="{% url 'students' %}"><i class="fa fa-edit"></i> Students <span class="fa fa-chevron-down"></span></a>
                  </li>
                  <li><a href="{% url 'course' %}"><i class="fa fa-desktop"></i> Course <span class="fa fa-chevron-down"></span></a>
                  </li>
                  <li><a><i class="fa fa-table"></i> Fee Voucher <span class="fa fa-chevron-down"></span></a>

                  </li>
                  <li><a><i class="fa fa-bar-chart-o"></i> Data Presentation <span class="fa fa-chevron-down"></span></a>
                  </li>
                  <li><a><i class="fa fa-clone"></i>Layouts <span class="fa fa-chevron-down"></span></a>
                  </li>
                </ul>
              </div>
            </div>